
.navbar {
    background: #085E7D !important;
}

.bg-dark{
    background: #085E7D !important;
}

.card-img-top{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

#map{
    height: 450px;
}

@media (min-width: 768px) {
    .card-img-top{
        height: 32vh;
    }

    #map{
        height: 100%;
    }
}



.navbar__color{
    background: #085E7D !important;
    color: #EEEEEE !important;
   
}

.nav-link{
    color: #F1F6F9 !important;
}

@media (max-width:768px) {
.nav-link{
    color: #000 !important;
    font-weight: bold;
    font-size: large;
    border-bottom: 1px solid #495464;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

}

.logo{
display: none;
}

@media (max-width:768px) {
.navbar__search{
  
    position: relative;
    top: 20%;
}

.logo{
    display: inline-block;
    margin: auto;
    font-weight: bold; 
    font-size: xx-large;
}


}


.mainpage__carousel .carousel-inner img{
    width: 100%;
    height: 50vh;
    object-fit: cover;    

}


